.small {
    width: 25%;
}
.medium {
    width: 50%;
}
.large {
    width: 75%;
}
.ui:active {
    position: absolute;
    top: 10%;
    left: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    background-color: #ddd;
}
.fluid {
    width: 100%;
}
.rounded {
    border-radius: 15px;
}
.left {
    float: left;
    margin-right: 1em;
}
.right {
    float: right;
    margin-left: 1em;
}