.title {
    color: #fff;
    font-size: 20;
    font-weight: bold;
    text-align: start;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
}
.date {
    color: #ccc;
    font-weight: 800;
    text-align: start;
    margin-top: 1px;
    margin-left: 20px;
}
.cover_image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    z-index: 1;
}
.summary {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 10em;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0%;
    transition: 0.5s;
    z-index: 2;
}
.summary:hover {
    opacity: 100%;
}
.project_page {
    display: grid;
    justify-items: center;
    row-gap: 1em;
    padding-bottom: 1em;
    grid-template-columns: auto auto auto auto;  
}
@media screen and (max-width: 1200px) {
    .project_page {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 900px) {
    .project_page {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 600px) {
    .project_page {
        grid-template-columns: auto;
    }
}
.project_card {
    background-color: #333;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 380px;
    width: 300px;
    position: relative;
}
.project_card:hover {
    transform: translate(2px, -2px);
    box-shadow: -2px 2px 10px #222
}
.project_link {
    text-decoration: none;
}
