body {
    background-color: #eaf8ff;
    font-family: Arial;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.navbar {
    color: #fff;
    background-color: #232323;
    transition: 0.5s;
    z-index: 2;
}
.navbar_obj {
    color: #fff;
    margin-right: 2em;
    text-decoration: none;
}
.navbar_obj:hover {
    color: #ccc;
}
.menu_obj {
    background-color: #232323;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    transform: rotate(180deg);
    transition: 0.5s;
}
@media screen and (max-width: 700px) {
    .navbar {
        position: absolute;
        width:0;
        top: 0;
        bottom: 0;
        right: 0;
        padding-top: 3em;
        padding-bottom: 0;
    }
    .navbar_obj {
        display: block; 
        font-size: 0;
        padding-bottom: 0.5em;
        padding-left: 0.3em;
    }
    .navbar:focus-within {
        width: 7em;
    }
    .navbar:focus-within .navbar_obj {
        font-size: 20;
    }
    .menu_obj:focus {
        right: 6.9em;
    }
    .menu_obj:focus .menu_button{
        transform: rotate(540deg);
    }
    .menu_button {
        height: 24;
        transition: 1s;
    }
}
@media screen and (min-width: 700px) {
    .navbar {
        position: absolute;
        left: 0;
        right: 0;
        height: 2em;
        padding-top: 2em;
        padding-bottom: 1em;
        padding-right: 3em;
        text-align: end;
    }
    .navbar_obj {
        display: inline;
        font-size: 16;
        padding: 5px;
    }
    .menu_obj {
        display: none;
    }
}
.site_body {
    text-align: center;
    padding-top: 10em;
    min-height: calc(100% - 16em);
}
.footer {
    background-color: #232323;
    color: #fff;
    height: 6em;
    display: grid;
    grid-template-columns: auto auto auto; 
    justify-items: center;
    align-items: center;
    font-size: 14;
    padding-top: 1em;
    padding-bottom: 1em;
}
.footer_col {
    width: 100%;
    border-right: 1px solid #555555;
    text-align: center;
}
.sitemap_obj {
    padding-left: 30%;
    text-align: start;
    display: block;
    color: #fff;
    text-decoration: none;
}
.inverted {
    filter: invert(1);
}